<!DOCTYPE html>
<html>
  <head>
    <title>Bookers1</title>
    <link rel="stylesheets" media="all" href="application.css" data-turbolinks-track="reload">
    <script src="application.css" date-turbolinks-track="reload"></script>
    <style id="__web-inspector-hide-shortcut-style__">
      .__web-inspector-hide-shortcut__::before,.__web-inspector-hide-shortcut__*,.__web-inspector-hidebefore-shortcut__::before,.web-inspector-hideafter-shortcut__::after
      {
        visibility: hidden !important;
      }
    </style>
  </head>
  <body>
    <h1 class="__web-inspector-hide-shortcut__">
      ようこそ
      <strong>Bookers</strong>
      へ！
    </h1>
    <p>
      <strong>Bookers</strong>
      では、さまざまな書籍に関するあなたの意見や
    </p>
    <p>印象を共有し交換することができます</p>
    <p>
      <a href="/books">start</a>
    </p>
  </body>

</html>

