<!DOCTYPE html>
<html>
  <head class="__web-inspector-hide-shortcut__">
    <style type="text/css">
    .turbolinks-progress-bar {
        position: fixed;
        display: block;
        top: 0;
        left: 0;
        height: 3px;
        background: #0076ff;
        z-index: 9999;
        transition: width 300ms ease-out, opacity 150ms 150ms ease-in;
        transform: translate3d(0,0,0);
    }
    </style>
    <link rel="stylesheet" media="all" href="application.css" data-turbolinks-track="reload">
    <script src="https://kit.fontawesome.com/440a14bfc9.js" crossorigin="anonymous"></script>
    <tittle>Bookers1</tittle>
    <meta charset="UTF-8" />
    <style id="__web-inspector-hide-shortcut-style__">
      .__web-inspector-hide-shortcut__, .__web-inspector-hide-shortcut__*, .__web-inspector-hide-before-shortcut__: :before, .__web-inspector-hideafter-shortcut__: :after
      {
          visibility: hidden !important;
      }
    </style>
  </head>
  <body></body>

</html>

